<ion-header no-border >
  <ion-toolbar class="toolbar-background" style="box-shadow: none !important;" >
    <ion-toolbar class="background no-shadow" >
    <ion-toolbar class="toptoolbar">
      <ion-buttons slot="start" >
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
       <img style="height: 30px;padding-right: 10px" src="/assets/images/main_logo.png" alt=""  class="ion-float-right" position="bottom"/>
    </ion-toolbar>
  
    <ion-toolbar class="toptoolbar">
        <ion-label class="zbook ion-float-left" position="bottom">
            Apex Badminton Center
        </ion-label>
    </ion-toolbar >

    <ion-toolbar class="toptoolbar">
        <ion-label class="desc ion-float-left" position="bottom">
            A Badminton is quite simply one of the most awesome sports you can play. We, at Apex Badminton, welcome you to an unparalleled Badminton experience
        </ion-label>
    </ion-toolbar>
  
    <ion-toolbar style="border-bottom: none" class="bottomtoolbar">
     
    </ion-toolbar>
    </ion-toolbar>
  </ion-toolbar>
  
  </ion-header>

<ion-content>

    <ion-item-group>
        <ion-item-divider >
          <ion-label>Address</ion-label>
        </ion-item-divider>
      
        <ion-item>
          <ion-icon name="pin" class="ion-padding"></ion-icon>
          <ion-label>32nd Street, Bonifacio Global City</ion-label>
          <ion-icon name="md-map" class="ion-padding"></ion-icon>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider >
          <ion-label>Amenities</ion-label>
        </ion-item-divider>
      
        <ion-item>
          <ion-icon name="md-car" class="ion-padding"></ion-icon>
          <ion-label>Parking</ion-label>
        </ion-item>

        <ion-item >
          <ion-icon name="md-shirt" class="ion-padding"></ion-icon>
          <ion-label>Dressing room</ion-label>
        </ion-item>

        <ion-item >
            <ion-icon name="md-power" class="ion-padding"></ion-icon>
            <ion-label>Power Backup</ion-label>
          </ion-item>

          
          <ion-item >
              <ion-icon name="md-medkit" class="ion-padding"></ion-icon>
              <ion-label>First Aid kit</ion-label>
            </ion-item>
    


        <ion-button shape="round" expand="full" (click)="onbooktime()">Book</ion-button>
      <!-- <ion-button expand="block"  class="ion-padding" style="scroll-padding-bottom: 20px;background: #C7EF00;" name="book">  -->
    </ion-item-group>


</ion-content>
