<ion-header no-border >
<ion-toolbar class="toolbar-background" style="box-shadow: none !important;" >
  <ion-toolbar class="background no-shadow" >
  <ion-toolbar class="container">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
     <img style="height: 30px;padding-right: 10px" src="/assets/images/main_logo.png" alt=""  class="ion-float-right" position="bottom"/>
  </ion-toolbar>

  <ion-toolbar class="container">
      <ion-label  class="hometext ion-float-left" position="bottom">
        Home
      </ion-label>
    </ion-toolbar >
  <ion-toolbar class="container">
      <ion-label class="nametext ion-float-left" position="bottom">
          Dave Mark >
      </ion-label>
    </ion-toolbar >
 <ion-toolbar class="container">
      <ion-label  class="friendtext ion-float-left" position="bottom">
          Friends Online
      </ion-label>
  </ion-toolbar>

  <ion-toolbar style="padding-bottom: 30px;border-bottom: none" class="containerfriends">

 <!-- <figure >
                  <img style="height: 50px;" src="/assets/images/online1.png" alt="" class="ion-float-right" class="" position="bottom" />
                  <figcaption  class="friendsname">John Doe</figcaption>
              </figure>   
              <figure  class="menubutton">
                  <img style="height: 50px;" src="/assets/images/online2.png" alt="" class="menubutton ion-float-right" class="" position="bottom" />
                  <figcaption  class="friendsname">John Doe</figcaption>
              </figure>   
              <figure  class="menubutton">
                  <img style="height: 50px;" src="/assets/images/online3.png" alt="" class="menubutton ion-float-right" class="" position="bottom" />
                  <figcaption  class="friendsname">John Doe</figcaption>
              </figure>   
              <figure  class="menubutton">
                  <img style="height: 50px;" src="/assets/images/online4.png" alt="" class="menubutton ion-float-right" class="" position="bottom" />
                  <figcaption  class="friendsname">John Doe</figcaption>
              </figure>   
              <figure  class="menubutton">
                  <img style="height: 50px;" src="/assets/images/online5.png" alt="" class="menubutton ion-float-right" class="" position="bottom" />
                  <figcaption  class="friendsname">John Doe</figcaption>
              </figure>   
              <figure  class="menubutton">
                  <img style="height: 50px;" src="/assets/images/online6.png" alt="" class="menubutton ion-float-right" class="" position="bottom" />
                  <figcaption  class="friendsname">John Doe</figcaption>
              </figure>        -->

      <div class="pad">
          <div class="scroll " scrollX="true">
                <ion-grid class="ion-text-center">
                        <ion-row class="displayed ion-text-center">
                          <ion-col >
                            <img style="height: 50px;padding-right: 10px" src="/assets/images/online1.png" alt=""  class="ion-float-right" />
                          </ion-col>
                          <ion-col >
                            <img style="height: 50px;padding-right: 10px" src="/assets/images/online2.png" alt=""  class="ion-float-right" />
                          </ion-col>
                          <ion-col >
                            <img style="height: 50px;padding-right: 10px" src="/assets/images/online3.png" alt=""  class="ion-float-right" />
                          </ion-col>
                          <ion-col >
                            <img style="height: 50px;padding-right: 10px" src="/assets/images/online4.png" alt=""  class="ion-float-right" />
                          </ion-col>
                          <ion-col >
                            <img style="height: 50px;padding-right: 10px" src="/assets/images/online5.png" alt=""  class="ion-float-right" />
                          </ion-col>

                        </ion-row>
                        <ion-row class="displayed ion-text-center">
                                <ion-col >
                                      <ion-label style="padding-top: 30px" class="friendsname">John Doe</ion-label>
                                </ion-col>
                                <ion-col >
                                        <ion-label style="padding-top: 30px" class="friendsname">John Doe</ion-label>
                                  </ion-col>
                                  <ion-col >
                                        <ion-label style="padding-top: 30px" class="friendsname">John Doe</ion-label>
                                  </ion-col>
                                  <ion-col >
                                        <ion-label style="padding-top: 30px" class="friendsname">John Doe</ion-label>
                                  </ion-col>
                                  <ion-col >
                                        <ion-label style="padding-top: 30px" class="friendsname">John Doe</ion-label>
                                  </ion-col>
                        </ion-row>
                </ion-grid>
              <!-- <img style="height: 50px;padding-right: 10px" src="/assets/images/online1.png" alt=""  class="ion-float-right" position="bottom"/>
              <img style="height: 50px;padding-right: 10px" src="/assets/images/online2.png" alt=""  class="ion-float-right" position="bottom"/>
              <img style="height: 50px;padding-right: 10px" src="/assets/images/online3.png" alt=""  class="ion-float-right" position="bottom"/>
              <img style="height: 50px;padding-right: 10px" src="/assets/images/online4.png" alt=""  class="ion-float-right" position="bottom"/>
              <img style="height: 50px;padding-right: 10px" src="/assets/images/online5.png" alt=""  class="ion-float-right" position="bottom"/> -->
              <!-- <img style="height: 50px;padding-right: 10px" src="/assets/images/online6.png" alt=""  class="ion-float-right" position="bottom"/> -->
          </div>
      </div>
  </ion-toolbar>
  </ion-toolbar>
</ion-toolbar>

</ion-header>

<ion-content >
  
        <ion-card style="box-shadow: none !important;" class="welcome-card">
            <ion-label style="padding-top: 30px" class="menutitle" position="bottom">
                Home
            </ion-label>
          <form>
              <ion-row class="menubutton"  >
                  <ion-col >
                      <img object-fit: cover src="../assets/images/zmarket.png" style="width:170px" >
                      <ion-label  class="menutext">
                          ZMarket
                      </ion-label>
                  </ion-col>
                  <ion-col >
                      <img object-fit: cover src="../assets/images/zmate.png" style="width:170px" >
                      <ion-label  class="menutext" >
                          ZMate
                      </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="menubutton" >
                    <ion-col >
                        <img object-fit: cover src="../assets/images/zbook.png" style="width:170px" >
                        <ion-label  class="menutext" >
                            ZBook
                        </ion-label>
                    </ion-col>
                    <ion-col >
                        <img object-fit: cover src="../assets/images/zgreeting.png" style="width:170px" >
                        <ion-label  class="menutext" >
                            ZGreeting
                        </ion-label>
                      </ion-col>
                  </ion-row>
            </form>
          </ion-card>


    <ion-tabs>
        <ion-tab-bar slot="bottom">

          <ion-tab-button href="">
            <ion-icon name="home"></ion-icon>
            <ion-label>home</ion-label>
          </ion-tab-button>

          <ion-tab-button >
            <ion-icon name="md-chatbubbles"></ion-icon>
            <ion-label>Chat</ion-label>
          </ion-tab-button>

          <ion-tab-button href="myprofile">
            <ion-icon name="person"></ion-icon>
            <ion-label>My Profile</ion-label>
          </ion-tab-button>

        <ion-tab-button href="settings">
            <ion-icon name="md-settings"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
