

ion-toolbar{
    --background:rgba(2,53,80,1) ;
}

ion-item-divider{
    font-size: 20px;
}

ion-button{
    --background: #025C8D ;
}


// .hometext{
//     color: #ffffff;
//     padding-top: 10px;
//     // padding-left: 20px;
//     font-size: 30px;
//     font-family: flamate !important;
// }